@page "/"
@namespace SaveRestoreDataGridLayout.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Save/load a grid's layout information</title>
    <meta name="description" content="This example illustrates how to use the LayoutChanged/LayoutRestoring events and the SaveLayout/LoadLayout methods to save layout information to some storage" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="_content/DevExpress.Blazor/dx-blazor.css" rel="stylesheet" />
    <script>
        function ReloadPage() {
            window.location.reload();
        }
    </script>
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
