@page "/api"

@using System.Text.Json
@using SaveAndRestoreLayout.Data
@using System.Collections.ObjectModel
@inject NavigationManager uriHelper;
@inject WeatherForecastService ForecastService
@inject IJSRuntime JSRuntime

@if (Forecasts == null) {
    <p><em>Loading...</em></p>
}
else {
    <h2>How to save and restore the grid's layout using Grid API</h2>    
    <DxFormLayout>
        <DxFormLayoutItem ColSpanMd="8">
            <DxButton Click="ShowColumnChooser_Click" Text="Show column chooser" RenderStyle="ButtonRenderStyle.Secondary" CssClass="show-column-chooser-button2 button-margins" />
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanMd="4"></DxFormLayoutItem>
        <DxFormLayoutItem ColSpanMd="8" CssClass="vertical-paddigns">
            <DxGrid Data="@Forecasts"
                    @ref=GridRef
                    CssClass="w-100"
                    PageSizeSelectorVisible="true"
                    PageSizeSelectorAllRowsItemVisible="true"
                    ColumnResizeMode="GridColumnResizeMode.NextColumn"
                    ShowGroupPanel="true" ShowFilterRow="true">
                    <Columns>
                        <DxGridDataColumn Caption="Date" FieldName="Date" />
                        <DxGridDataColumn Caption="Temperature" FieldName="TemperatureF" Width="120px"/>
                        <DxGridDataColumn Caption="Summary" FieldName="Summary" />
                    </Columns>
            </DxGrid>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanMd="4" CssClass="vertical-paddigns">
            <DxListBox Data="@Layouts" TextFieldName="LayoutKey" @bind-Value="@SelectedLayout" />
            <DxButton Click="SaveLayout_Click" Text="Save current layout" RenderStyle="ButtonRenderStyle.Secondary" CssClass="button-margins" />
             @if (SelectedLayout != null) {
                 <DxButton Click="LoadLayout_Click" Text="Load layout" RenderStyle="ButtonRenderStyle.Secondary" CssClass="button-margins" />
                 <DxButton Click="RemoveLayout_Click" Text="Remove layout" RenderStyle="ButtonRenderStyle.Secondary" CssClass="button-margins" />
             }
        </DxFormLayoutItem>
    </DxFormLayout>
}

@code {
    const string LocalStorageItemsKey = "sampleItemsKey";
    WeatherForecast[] Forecasts { get; set; }
    IGrid GridRef { get; set; }
    ObservableCollection<UserLayout> Layouts { get; set; } = new ObservableCollection<UserLayout>();
    UserLayout SelectedLayout { get; set; }

    protected override async Task OnInitializedAsync() {
        Forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        var json = await GetLocalStorageItemAsync(LocalStorageItemsKey);
        if (!string.IsNullOrEmpty(json))
            Layouts = JsonSerializer.Deserialize<ObservableCollection<UserLayout>>(json);
    }
    void ShowColumnChooser_Click() {
        GridRef.ShowColumnChooser(".show-column-chooser-button2");
    }
    async void SaveLayout_Click() {
        string newLayoutKey = "Layout " + DateTime.Now.ToString();
        var layout = GridRef.SaveLayout();
        Layouts.Add(new UserLayout() { LayoutKey = newLayoutKey, Layout = layout });
        await SetLocalStorageItemAsync(LocalStorageItemsKey, JsonSerializer.Serialize(Layouts));
    }
    void LoadLayout_Click() {
        GridPersistentLayout? layout = SelectedLayout?.Layout;
        if (layout != null) {
            GridRef.LoadLayout(layout);
        }
    }
    async void RemoveLayout_Click() {
        Layouts.Remove(SelectedLayout);
        await SetLocalStorageItemAsync(LocalStorageItemsKey, JsonSerializer.Serialize(Layouts));
        SelectedLayout = null;
    }
    async Task<string> GetLocalStorageItemAsync(string key) {
        try {
            return await JSRuntime.InvokeAsync<string>("localStorage.getItem", key);
        }
        catch {
            // Mute exceptions
            return "";
        }
    }
    async Task SetLocalStorageItemAsync(string key, string value) {
        try {
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", key, value);
        }
        catch {
            // Mute exceptions
        }
    }
}