<div class="sidebar @StateCssClass">
<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
    <Nodes>
            <DxTreeViewNode NavigateUrl="/" Text="Save layout automatically"></DxTreeViewNode>
            <DxTreeViewNode NavigateUrl="/api" Text="Save layout by API"></DxTreeViewNode>
    </Nodes>
</DxTreeView>
</div>

@code {
    [Parameter] public string? StateCssClass { get; set; }
}